{{extend 'layout.html'}}

<h3>This week</h3>

<div id="calendar"></div>

<h3>Missing</h3>

{{=LOAD('organize', 'missing.load', ajax=True, target="missing_overview", content=SPAN(".", _class="spinner"))}}


<script type="text/javascript">
$(function () {
    $('#calendar').fullCalendar({
        events: '{{=URL('calendar', 'events')}}',
        eventRender: function(event, element) {
            element.find('span').before($(event.icon));
        },
        defaultView : 'basicWeek',
        height : 200,
        header: {
            left: 'prev,next today',
            center: 'title',
            },
        titleFormat : {
            month: 'MMMM yyyy',
            week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",
            day: 'dddd, d, MMM , yyyy'
        },
        columnFormat : {
            month: 'ddd',    // Mon
            week: 'ddd d/M', // Mon 9/7
            day: 'dddd d/M'  // Monday 9/7
        }
    });
})
</script>
