{{extend 'layout.html'}}
<div class="alert alert-info">
    <dl class="dl-horizontal">
        <dt>Icon</dt><dd>Meaning</dd>
        <dt>{{=I(_class="icon-ok")}}</dt>
        <dd>Present</dd>
        <dt>{{=I(_class="icon-remove")}}</dt>
        <dd>Missing</dd>
        <dt>{{=I(_class="icon-magnet")}}</dt>
        <dd>Missing but torrent found</dd>
        <dt>{{=I(_class="icon-calendar")}}</dt>
        <dd>Future Episodes</dd>
    </dl>
</div>
<div id="calendar"></div>


<script type="text/javascript">
$(function () {
    $('#calendar').fullCalendar({
        events: '/w2p_tvseries/calendar/events',
        eventRender: function(event, element) {
            element.find('span').before($(event.icon));
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
            },
        titleFormat : {
            month: 'MMMM yyyy',
            week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",
            day: 'dddd, d, MMM , yyyy'
        },
        columnFormat : {
            month: 'ddd',    // Mon
            week: 'ddd d/M', // Mon 9/7
            day: 'dddd d/M'  // Monday 9/7
        }
    });
})
</script>